# Object files
*.o
*.ko

# Generated code
.tmp_versions
*.mod.c
*.cmd
Module.symvers
modules.order

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Temporary files
*.swp

# Eclipse file for working
.project
.cproject
